.main-header-cont{
  padding: 10px 25px;
  width: 100%;
}
 .nav-bar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}

.header-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav-items{
  display: flex;
  align-items: center;
}
.nav-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-link:hover{
color: black;
text-decoration: underline;
cursor: pointer;
}

.nav-items:hover .hide-cont{
  display: block;
  
}
.custom-nav .nav-link {
  font-size: 1.25rem; 
  color: #007bff; 
  transition: color 0.3s ease; 
}

.custom-nav .nav-link:hover {
  color: #0056b3;
  text-decoration: underline;
}
.custom-nav .nav-item {
  margin-right: 1.5rem; 
}
/* .c-link{
  justify-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: white;
} */
.hide-cont{
 display: none;
 text-align: center;
}

.navbar-nav .nav-item {
  margin-right: 1rem; 
}
@media screen and (max-width:767px){
.nav-bar{
  flex-direction: column;
  justify-content: center;
}
.nav-items{
  flex-direction: column;
}
.custom-nav{
  align-items: center;
}
.togglelogoubtn{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.header-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
}

@media screen and (max-width:400px){
  .main-header-cont{
    padding: 10px 8px;
  }


}