.login-main-cont {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .rg {
    height: 100vh;
  }
  
  .login-cont {
    width: 500px;
    margin: 20px;
    margin-bottom: 40px;
  }
  
  .login-form {
    width: 100%;
    /* padding: 20px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 11px 12px 20px rgba(0, 0, 0, 0.43);
  }
  
  .log-heading {
    margin-top: 15px;
    font-size: 38px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .login-form-grp {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .login-label {
    font-size: 15px;
    font-weight: 300;
    margin-top: 14px;
  }
  
  .login-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 55px;
    line-height: 1.2;
    color: #0e0c0c;
    font-size: 16px;
    border-bottom: 1px solid gray;
    margin-bottom: 14px;
  }
  
  .login-btn {
    margin-top: 10px;
    width: 100%;
    background: linear-gradient(to right, rgb(231, 234, 233), #8c8b8b);
    font-size: 16px;
    font-weight: 600;
    color: rgb(8, 2, 2);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .login-btn:hover {
    background: linear-gradient(to left, rgb(156, 156, 156), #8c8b8b);
  }
  
  .signup-option {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-text {
    font-size: 16px;
    font-weight: 400;
  }
  .already-have-ac{
    background-color: rgb(38, 143, 38);
    color: rgb(9, 7, 7);
    width: 100%;
    border: none;
    
  }
  
  @media only screen and (max-width: 580px) {
    .login-cont {
      width: 100%;
    }
  
    .log-heading {
      font-size: 34px;
      margin-bottom: 24px;
    }
  
    .login-form-grp {
      width: 80%;
    }
  }
  