.main-food-fitness-cont {
    width: 100%;
 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  
  }

  
  .about-food-fitness {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8d8d820;
  }
  
  .food-fitness-card{
      width: 100%;
      display: flex;
     justify-content: center;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
   
      margin-bottom: 30px;
      gap: 20px;
     
  }
  
  .ask-ai-fitness {
    width: 315px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
padding: 8px;
    justify-content: center;
    align-items: center;
    
  }
  .ask-ai-fitness:hover {
    transition-duration: 0.6s;
    border-top-left-radius: 20px;
    box-shadow: 1px 2px 4px rgb(116, 116, 116);
  }
  
  .ai-fitness-img{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 14px;
  }
  
  .ai-fitness-text{
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
  
  
  
  @media (min-width: 600px) {
    .main-food-fitness-cont {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
  
    }
    .heading-food-fiitness {
  
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      font-weight: 300;
    }
  
    .about-food-fitness {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      background: #d8d8d820;
    }
  
    .heading-food-fiitness h1{
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .ask-ai-fitness {
      width: 350px;
    }
  
    
  }
  
  @media (max-width: 768px){
    .ask-ai-fitness {
      width: 100%;
    }
  }
  
  @media (min-width: 1024px) {
    .main-food-fitness-cont {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .heading-food-fiitness {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      
      font-size: 30px;
      font-weight: 300;
    }
  
    .heading-food-fiitness h1{
      font-size: 32px;
    }
  
    .ask-ai-fitness {
      width: 340px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    
  }


  