
.main-about-cont{
   
    width: 100%;
   background-color: rgb(11, 95, 57);
   display: flex;

   flex-wrap: wrap;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
   gap: 60px;

}
.img-leaf{
    width: 120px;
    height: 190px;
      
       animation: animi 3s infinite;
   }
   .img-leaf img{
    width: 100%;
    height: 100%;
}
.costo-heading{
    width: 100%;
    height: 40%;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../../aseets/shape-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}

.costo-heading p{

    color: rgb(219, 172, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.costo-heading h1{

    color: rgb(206, 206, 206);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.costo-heading h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; font-weight: 200;
    font-size: 20px
}

.img-leaf2{

    width: 20%;
    height: 20%;
   
    animation: animi 3s linear infinite;
   
}
.img-leaf2 img{
    width: 100%;
    height: 100%;
}
@keyframes animi {
    
    0%{
position: relative;

bottom: 0px;

    }
    25%{
        position: relative;
top: 10px;
bottom: 10px;

        
    }
    50%{
        position: relative;
bottom: 20px;


    }

    75%{
        position: relative;
bottom: 30px;


    }

    100%{
        position: relative;
bottom: 40px;


    }
    
}



@media(min-width:1024px) {
.main-about-cont{
    height: 80vh;
    width: 100%;
   background-color: rgb(11, 95, 57);
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   justify-content: center;
   align-items: center;
   gap: 60px;

}
.img-leaf{
 width: 300px;
 height: 300px;
   
    animation: animi 3s infinite;
}
.img-leaf img{
    width: 100%;
    height: 100%;
}
@keyframes animi {
    
    0%{
position: relative;
top: 0px;
bottom: 0px;

    }
    25%{
        position: relative;
top: 10px;
bottom: 10px;

        
    }
    50%{
        position: relative;
bottom: 20px;
top: 20px;

    }

    75%{
        position: relative;
bottom: 30px;
top: 30px;

    }

    100%{
        position: relative;
bottom: 40px;
top: 40px;

    }
    
}

.costo-heading{
    width: 28%;
    height: 50%;
  
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url('../../aseets/shape-3.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
}
.costo-heading p{

    color: rgb(219, 172, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
.costo-heading h1{

    color: rgb(206, 206, 206);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.costo-heading h3{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
     font-weight: 200;
}
.img-leaf2{

    width: 10%;
    height: 20%;
   
    animation: animi 3s linear infinite;
   
}
.img-leaf2 img{
    width: 100%;
    height: 100%;
}
}