.main-marque-cont{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  justify-content: center;

   
  background-color: rgb(209, 209, 209);
 
}
marquee{
  overflow: hidden;
  width: 100%;
}

.text1{
  font-size: 20px;
}
.text2{
  font-weight: 600;
}