.main-marque-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  justify-content: center;

   
  
 
}
marquee{
  overflow: hidden;
  width: 100%;
}

.text1{
  font-size: 20px;


}
.text2{
  font-weight: 600;
}