

.main-cont-fitness{

    width: 100%;
    height: 100vh;
    
    background: url("../../../aseets/home-diet-food.jpg");
    background-size: cover;
    padding: 20px;
   
}

.heading-part{
    width: 100%;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
   
    padding: 10px;
}

.st-para{

    color: rgb(6, 70, 6);
    font-size: 18px;
    font-weight: 600;
}

.heading-part h1{
    font-size: 40px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading-part h1 span{
    color: chocolate;
    font-size: 45px;
}

.last-para-head{

   
    font-size: 24px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 34, 36);
}

.heading-part button{
    width: 180px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(235, 220, 11);
    border: none;
    outline: none;
  
    font-size: 17px;
    color: rgba(32, 27, 27, 0.888);
  
   font-family: 'Times New Roman', Times, serif;
    
}
.heading-part button:hover{

    box-shadow: 1px 1px 5px black;
    transition-duration: 0.5s;

}


@media (min-width:1024px) {
.main-cont-fitness{

    width: 100%;
    height: 100vh;
    
    background: url("../../../aseets/home-diet-food.jpg");
    background-size: cover;
    padding: 20px;
   
}
.heading-part{
    width: 50%;
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
   
    padding: 10px;
}
.st-para{

    color: rgb(6, 70, 6);
    font-size: 18px;
    font-weight: 600;
}
.heading-part h1{
    font-size: 70px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.heading-part h1 span{
    color: chocolate;
    font-size: 75px;
}
.last-para-head{

   
    font-size: 24px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(29, 34, 36);
}
.heading-part button{
    height: 50px;
    font-size: 18px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

}