.about-page-main-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 242, 242);
}

.about-page-cont{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.about-page-heading{
    font-size: 36px;
    font-weight: 600;
    color: darkolivegreen;
}

.about-page-story-part{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.about-page-para-part{
    width: 60%;
}

.about-page-detail-part{
    font-size: 16px;
    line-height: 30px;
}

.about-page-ourstory{
    width: 300px;
}

.heig{
    height: 330px;
}

.about-page-values-part{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.about-page-values-cards{
    margin-bottom: 20px;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px;
    background-color: white;
    filter: drop-shadow(1px 1px 20px rgba(0, 0, 0, 0.3));
}

.values-cards{
    width: 100%;
    height: 200px;
}

.values-cards-text-heading{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}

.values-cards-text{
    font-size: 16px;
    text-align: center;
}

@media (max-width: 770px){
    .about-page-heading{
        font-size: 33px;
    } 

    .about-page-story-part{
        width:100%;
    }

    .about-page-para-part{
        width: 100%;
    }

    .about-page-values-cards{
        margin-bottom: 25px;
        width: 100%;
    }

    .values-cards-text-heading{
        font-size: 20px;
    }

    .values-cards-text{
        font-size: 14px;
    }

}

@media (max-width: 400px){
    .about-page-ourstory{
        width: 100%;
    }
    
    .heig{
        height: 330px;
    }

    .about-page-cont{
        width: 100%;
    }

}

@media (min-width: 2000px){
    .about-page-heading{
        font-size: 56px;
    }

    .about-page-values-cards{
        width: 500px;
    }

    .values-cards-text-heading{
        font-size: 34px;
    }

    .values-cards-text{
        font-size: 26px;
    }

    .about-page-detail-part{
        font-size: 26px;
        line-height: 40px;
    }

    .heig{
        height: 450px;
        width: 40%;
    }

    .values-cards {
        width: 100%;
        height: 328px;
    }
}