.main-course-cont{
   
    width: 100%;
    display: flex;
   
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding: 15px;
gap: 30px;
    margin-top: 20px;
}



.course-1{
    width: 100%;

   
    background: #e1e1e13a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}


.girl-run{

    width: 34%;
    height: 18vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.064);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
 background-color: #dbdadaad;

}
.girl-run img{

    width: 80%;
    height: 50%;

}

.lotus img{
    width: 80%;
    height: 60%;
}
.man-using-lap{


    
    width: 34%;
    height: 18vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.059);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
background-color: #dbdadaad;

}
.lotus{

    width: 34%;
    height: 18vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.071);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
 background-color: #dbdadaad;
}

.man-using-lap img{
    width: 90%;
    height: 60%;
}
.course-dis{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-family: "Bona Nova SC", serif;
}
.course-1:hover{

    transition-duration: 0.8s;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
}
@media (min-width:1024px) {
.main-course-cont{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
gap: 30px;
    margin-top: 20px;
}
.course-1{
    width: 28%;
    height: 100%;
   
    background: #e1e1e13a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
}
.girl-run{

    width: 34%;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.064);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
 background-color: #dbdadaad;

}
.girl-run img{

    width: 80%;
    height: 60%;

}
.lotus{

    width: 34%;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.071);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
 background-color: #dbdadaad;
}
.lotus img{
    width: 80%;
    height: 60%;
}
.man-using-lap{


    
    width: 35%;
    height: 20vh;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.059);

 display: flex;
 align-items: center;
 justify-content: center;
 padding: 10px;
background-color: #dbdadaad;

}

.man-using-lap img{
    width: 90%;
    height: 60%;
}
.course-dis{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-family: "Bona Nova SC", serif;
}
.course-1:hover{

    transition-duration: 0.8s;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
}
}